<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PageMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PageMapper.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value>http://www.google.com/</value>
            </setting>
            <setting name="SaveLocation" serializeAs="String">
                <value>C:\Users\ivan\Desktop</value>
            </setting>
            <setting name="ClassName" serializeAs="String">
                <value>TestPageObject</value>
            </setting>
            <setting name="Template" serializeAs="String">
                <value>Templates\Default.cshtml</value>
            </setting>
            <setting name="BackgroundStyleColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="BorderStyleColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BorderStyleWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderStyle" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="SelectionStyle" serializeAs="String">
                <value>Border</value>
            </setting>
            <setting name="FileExtension" serializeAs="String">
                <value>.cs</value>
            </setting>
            <setting name="TemplateFolder" serializeAs="String">
                <value>Templates</value>
            </setting>
            <setting name="TemplateFilter" serializeAs="String">
                <value>*.*</value>
            </setting>
            <setting name="LogErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFilename" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
        </PageMapper.Properties.Settings>
    </userSettings>
</configuration>